<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="word.mapper.WordbookMapper">
	<insert id="insertWordbook" parameterType="wordbook" keyProperty="id">
		insert into wordbook(owner_id,guest_id,favorite,title,wordbook_address) 
		values(#{ownerId},#{guestId},#{favorite},#{title},#{wordbookAddress})
	</insert>
	<select id="selectWordbookById" resultType="wordbook">
		select * from wordbook where id=#{id}
	</select>
	<!-- for list output -->
	<select id="selectWordbookByOwnerId" resultType="wordbook">
		select * from wordbook where owner_id=#{id} group by title order by u_date desc limit #{first}, #{ea};
	</select>
	<select id="selectWordbookByGuestId" resultType="wordbook">
		select * from wordbook where guest_id=#{id} order by u_date desc limit #{first}, #{ea};
	</select>
	<select id="selectWordbookByOwnerIdOrGuestId" resultType="wordbook">
		select * from wordbook where owner_id=#{id} or guest_id=#{id} group by title order by u_date desc limit #{first}, #{ea};
	</select>
	<!-- for check -->
	<select id="selectWordbookByGuestIdCheck" resultType="wordbook">
		select * from wordbook where guest_id=#{id};
	</select>
	<select id="selectWordbookByOwnerIdCheck" resultType="wordbook">
		select * from wordbook where owner_id=#{id};
	</select>
	<select id="selectWordbookByOwnerIdOrGuestIdCheck" resultType="wordbook">
		select * from wordbook where owner_id=#{id} or guest_id=#{id};
	</select>
	<select id="selectSharingCheckGroupByTitle" resultType="Integer">
      	select count(guest_id), title from wordbook where owner_id=#{id} and guest_id!=0 group by title order by title limit #{first}, #{ea};
    </select>
    <select id="selectSharingMemberCheckByTitle" resultType="wordbook">
      	select wordbook.id, wordbook.title, wordbook.guest_id, member.member_id from wordbook 
      	join member on wordbook.guest_id = member.id where title=#{title} and owner_id=#{id} and guest_id!=0;
    </select>
	<!-- for count check -->
	<select id="selectWordbookCountByOwnerId" resultType="int">
		select count(distinct title) from wordbook where owner_id=#{id};
	</select>
	<select id="selectWordbookCountByGuestId" resultType="int">
		select count(id) from wordbook where guest_id=#{id};
	</select>
	<select id="selectWordbookCountByOwnerIdOrGuestId" resultType="int">
		select count(distinct title) from wordbook where owner_id=#{id} or guest_id=#{id};
	</select>
	<select id="selectWordbookCountByOwnerIdOrGuestIdFavorite" resultType="int">
		select count(distinct title) from wordbook where (owner_id=#{id} or guest_id=#{id}) and favorite = 1;
	</select>
	<select id="selectWordbookCountSharing" resultType="int">
		select count(distinct title) from wordbook where owner_id=#{id} and guest_id!=0;
	</select>
	<select id="selectWordbookAll" resultType="wordbook">
		select id,owner_id,favorite,guest_id,title,reg_date,u_date,wordbook_address from wordbook
	</select>
	<update id="updateWordbook" parameterType="wordbook">
		update wordbook set owner_id=#{ownerId}, favorite=#{favorite}, guest_id=#{guestId}, 
		title=#{title}, wordbook_address=#{wordbookAddress} where id=#{id}
	</update>
	<!-- favorite 업데이트시 uDate를 변경하지 않음. -->
	<update id="updateWordbookFavorite" keyProperty="id">
		update wordbook set favorite=#{favorite}, u_date=#{uDate} where id=#{id};
	</update>
	<!-- sharing tempKey update(uDate를 변경하지 않음) -->
	<update id="updateWordbookSharingKey" keyProperty="id">
		update wordbook set sharing_key=#{sharingKey}, u_date=#{uDate} where id=#{id};
	</update>
	<delete id="deleteWordbook">
		delete from wordbook where id=#{id}
	</delete>
	<!-- for list join output -->
	<!-- 소유만 -->
	<select id="selectWordbookByOwnerIdJoin" resultType="wordbook">
		select wordbook.*, member.member_id from wordbook join member on wordbook.owner_id = member.id 
		where owner_id=#{id} group by title order by u_date desc limit #{first}, #{ea};
	</select>
	<!-- 공유만 -->
	<select id="selectWordbookByGuestIdJoin" resultType="wordbook">
		select wordbook.*, member.member_id from wordbook join member on wordbook.owner_id = member.id 
		where guest_id=#{id} order by u_date desc limit #{first}, #{ea};
	</select>
	<!-- 전체 -->
	<select id="selectWordbookByOwnerIdOrGuestIdJoin" resultType="wordbook">
		select wordbook.*, member.member_id from wordbook join member on wordbook.owner_id = member.id 
		where owner_id=#{id} or guest_id=#{id} group by title order by u_date desc limit #{first}, #{ea};
	</select>
	<!-- 전체에서 중요 -->
	<select id="selectWordbookByOwnerIdOrGuestIdFavoriteJoin" resultType="wordbook">
		select wordbook.*, member.member_id from wordbook join member on wordbook.owner_id = member.id 
		where (owner_id=#{id} or guest_id=#{id}) And favorite = 1 group by title order by u_date desc limit #{first}, #{ea};
	</select>
	<!-- 공유해준 단어장 조회 -->
	<select id="selectWordbookSharingJoin" resultType="wordbook">
		select wordbook.*, member.member_id from wordbook join member on wordbook.owner_id = member.id 
		where owner_id=#{id} and guest_id!=0 group by title order by title limit #{first}, #{ea};
	</select>
	<!-- for search -->
	<select id="selectWordbookBySearchJoin" resultType="wordbook">
		select wordbook.*, member.member_id from wordbook join member on wordbook.owner_id = member.id 
		where (owner_id=#{id} or guest_id=#{id}) And (member_id like CONCAT('%', #{keyword}, '%') or title like CONCAT('%', #{keyword}, '%')) 
		group by title order by u_date desc limit #{first}, #{ea};
	</select>
	<select id="selectWordbookCountBySearchJoin" resultType="int">
		select count(distinct title) from wordbook join member on wordbook.owner_id = member.id 
		where (owner_id=#{id} or guest_id=#{id}) And (member_id like CONCAT('%', #{keyword}, '%') or title like CONCAT('%', #{keyword}, '%'));
	</select>
</mapper>