@import url(main.css);

    /*로그인 창*/

	.login {
    	font-weight: bold;
   		text-align: center;
	}
	
	.other_id {
		margin: auto;
		width: 50%;
	}

	.login_id {
    	width: 65%;
    	margin: auto;
	}

	.login_pw {
    	width: 65%;
    	margin: auto;
	}

	.login_sub {
    	text-align: center;
    	float: left;
	}
	
	.search_member {
		float: left;
	}
	
	.col-6 {
    	margin: auto;
	}

}