@import url(main.css);

    /*회원가입 창*/
    
    .col-6 {
    	margin: 0 auto;
	}

	.signup {
    	font-weight: bold;
   		text-align: center;
	}

	.check_box {
		margin-top: 2%;
	}
	
	.signup_btn_box {
		margin: 0 auto;
		width: 70%;
	}
	
	.error_next_box {
    	display: block;
    	margin: 9px 0 -2px;
   		font-size: 12px;
    	line-height: 14px;
    	color: red;
	}
	
*{margin: 0;padding: 0;box-sizing: border-box}
body{background-color: #f7f7f7;}
a{text-decoration: none;}
.clearfix::after{content: "";display: block;clear: both;}

#joinForm{width: 460px;margin: 0 auto;}
ul.join_box{border: 1px solid #ddd;background-color: #fff;}
.checkBox,.checkBox>ul{position: relative;}
.checkBox>ul>li{float: left;}
.checkBox>ul>li:first-child{width: 85%;padding: 15px;font-weight: 600;color: #888;}
.checkBox>ul>li:nth-child(2){position: absolute;top: 50%;right: 30px;margin-top: -12px;}
.checkBox textarea{width: 96%;height: 90px; margin: 0 2%;background-color: #f7f7f7;color: #888; border: none;}


