@import url(main.css);

    /*회원가입 창*/
    
    .col-6 {
       margin: 0 auto;
   }

   .signup {
       font-weight: bold;
         text-align: center;
   }

   .check_box {
      margin-top: 3%;
   }
   
   .signup_btn_box {
      margin: 0 auto;
      width: 70%;
   }