@charset "UTF-8";
@import url(main.css);

wordTable {overflow-x: auto;}
table {width: 100%; min-width: 500px;}

td{
	word-break:break-all;
}

td > button.favorite{
	box-shadow: none;
	border: none;
}

td > button.favorite, .clear{
	width:20%;
	padding:0px;
	margin:0 auto;
	display:inline-block;
}

input[name=word], input[name=trans]{
	margin:0 auto;
	display:inline-block;
}

